.description{
    background-color: white;
    padding-top: 30px;
    padding-right:15px;
    padding-bottom:15px;
    padding-left: 15px;
}

.description > p{
    font-size: 12px;
    color: #878787;
}

.description > h6{
    color:#726d67;
}